<html>
  <head>
    <title>映画　聲の形　紹介ページ</title>
  </head>
  <body>
    <h1>映画　聲の形</h1>
　　<img src="http://image.eiga.k-img.com/images/movie/83287/photo/022a9f0adaeb2f9d/320.jpg?1467947821" width="128" height="128" alt="映画　聲の形イメージ">
　　<h2>解説</h2>
    「週刊少年マガジン」に連載され、「このマンガがすごい！」や「マンガ大賞」などで高い評価を受けた大今良時の漫画「聲の形」を、「けいおん！」「たまこラブストーリー」などで知られる京都アニメーションと山田尚子監督によりアニメーション映画化。脚本を「たまこラブストーリー」や「ガールズ＆パンツァー」を手がけた吉田玲子が担当した。退屈することを何よりも嫌うガキ大将の少年・石田将也は、転校生の少女・西宮硝子へ好奇心を抱き、硝子の存在のおかげで退屈な日々から解放される。しかし、硝子との間に起こったある出来事をきっかけに、将也は周囲から孤立してしまう。それから5年。心を閉ざして生き、高校生になった将也は、いまは別の学校へ通う硝子のもとを訪れる。
  </body>
</html>
