<html>
  <head>
    <title>BFG ビッグ・フレンドリー・ジャイアント　紹介ページ</title>
  </head>
  <body>
    <h1>怒り</h1>
　　<img src="http://image.eiga.k-img.com/images/movie/84131/photo/e78647a5c1c71ce6/320.jpg?1471920856" width="128" height="128" alt="BFG ビッグ・フレンドリー・ジャイアントイメージ">
　　<h2>解説</h2>
    スティーブン・スピルバーグ監督が、「チャーリーとチョコレート工場」で知られるイギリス児童文学作家ロアルド・ダールの名作「オ・ヤサシ巨人BFG」を映画化したファンタジー。スピルバーグ監督作「ブリッジ・オブ・スパイ」でアカデミー賞を受賞したマーク・ライランスが演じる心優しい巨人と、孤独な少女の心温まる友情と奇想天外な冒険を描いた。ロンドンの児童養護施設に暮らす好奇心旺盛な少女ソフィーは、真夜中に窓から入ってきた巨大な手に持ち上げられ、「巨人の国」に連れて行かれてしまう。ソフィーを連れ去ったのは、夜ごと子どもたちに夢を届ける、優しい巨人BFG（ビッグ・フレンドリー・ジャイアント）だった。ひとりぼっちのソフィーは、自分と同じく孤独なBFGと心を通わせていく。
	</body>
</html>
