<html>
  <head>
    <title>怒り　紹介ページ</title>
  </head>
  <body>
    <h1>怒り</h1>
　　<img src="http://image.eiga.k-img.com/images/movie/81486/photo/751b7cb53b67c242/320.jpg?1466040701" width="128" height="128" alt="怒りイメージ">
　　<h2>解説</h2>
    吉田修一の原作を映画化した「悪人」で国内外で高い評価を得た李相日監督が、再び吉田原作の小説を映画化した群像ミステリードラマ。名実ともに日本を代表する名優・渡辺謙を主演に、森山未來、松山ケンイチ、広瀬すず、綾野剛、宮崎あおい、妻夫木聡と日本映画界トップクラスの俳優たちが共演。犯人未逮捕の殺人事件から1年後、千葉、東京、沖縄という3つの場所に、それぞれ前歴不詳の男が現れたことから巻き起こるドラマを描いた。東京・八王子で起こった残忍な殺人事件。犯人は現場に「怒」という血文字を残し、顔を整形してどこかへ逃亡した。それから1年後、千葉の漁港で暮らす洋平と娘の愛子の前に田代という青年が現れ、東京で大手企業に勤める優馬は街で直人という青年と知り合い、親の事情で沖縄に転校してきた女子高生・泉は、無人島で田中という男と遭遇するが……。
  </body>
</html>
