<div id="main_cnt_wrapper">
      <div id="yjContentsBody">
        <div class="yjContainer">
          <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
          <div id="yjMain">
            <article class="section">
              <div class="container">
                <header class="header header--section">
                  <h2 class="text-middle">
                    <i class="icon-movie color-gray-light"></i>新着作品
                  </h2>
                </header>
                <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
                  <li class="col">
                    <a href="/movie/1"><img alt="怒り" src="http://image.eiga.k-img.com/images/movie/81486/photo/54f87d7ecca0b921/160.jpg?1467792216" width="150" /><div class="thumbnail__figure"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="怒り">怒り
                      </h3>
                    </div>
                  </li>
                  <li class="col">
                  <a href="/movie/2"><img alt="映画　聲の形" src="http://image.eiga.k-img.com/images/movie/83287/photo/34780e9af96ecfdb/160.jpg?1465531403" width="150" /><div class="thumbnail__figure"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="映画　聲の形">映画　聲の形
                      </h3>
                    </div>
                  </li>
                  <li class="col">
                  <a href="/movie/3"><img alt="BFG ビッグ・フレンドリー・ジャイアント" src="http://image.eiga.k-img.com/images/movie/84131/photo/50e121a4ea117c66/160.jpg?1469184188" width="150" /><div class="thumbnail__figure"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="映BFG ビッグ・フレンドリー・ジャイアント">BFG ビッグ・フレンドリー・ジャイアント
                      </h3>
                    </div>
                  </li>
                  <li class="col">
                  <a href="/movie/4"><img alt="レッドタートル　ある島の物語" src="http://image.eiga.k-img.com/images/movie/83798/photo/5d3b092dd43f188b/160.jpg?1468913073" width="150" /><div class="thumbnail__figure"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="レッドタートル　ある島の物語">レッドタートル　ある島の物語
                      </h3>
                    </div>
                  </li>
                  <li class="col">
                  <a href="/movie/5"><img alt="オーバー・フェンス" src="http://image.eiga.k-img.com/images/movie/82216/photo/133bd6f440c3b5f8/160.jpg?1467597125" width="150" /><div class="thumbnail__figure"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="オーバー・フェンス">オーバー・フェンス
                      </h3>
                    </div>
                  </li>


                </ul>
              </div>
            </article>
          </div>
          <div id="yjSub">

